In [1]:
import pandas as pd
import yfinance as yf

Obtendo histórico de cotações Dólar/Real

In [2]:
usd_brl = yf.Ticker("USDBRL=X")
hist_usd_brl = pd.DataFrame(usd_brl.history(start="2013-01-01", end="2023-10-01")["Close"])

In [3]:
hist_usd_brl.head()

                            Close
Date
2013-01-01 00:00:00+00:00  2.0507
2013-01-02 00:00:00+00:00  2.0456
2013-01-03 00:00:00+00:00  2.0456
2013-01-04 00:00:00+00:00  2.0487
2013-01-07 00:00:00+00:00  2.0324

In [4]:
hist_usd_brl.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 2799 entries, 2013-01-01 00:00:00+00:00 to 2023-09-29 00:00:00+01:00
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Close   2799 non-null   float64
dtypes: float64(1)
memory usage: 43.7 KB

In [5]:
hist_usd_brl.describe()

             Close
count  2799.000000
mean      3.867363
std       1.123770
min       1.941900
25%       3.133300
50%       3.772400
75%       5.061030
max       5.886400

In [6]:
hist_usd_brl.to_csv("C:\\Users\\victo\\OneDrive\\Documentos\\github\\tcc-analise-setores-mercado-financeiro\\data\\hist_usd_brl.csv")

Obtendo histórico do IPCA

In [7]:
# URL do arquivo CSV do IPCA no site do Banco Central do Brasil
url = 'https://api.bcb.gov.br/dados/serie/bcdata.sgs.433/dados?formato=csv'

# Carregar o arquivo CSV no pandas
hist_ipca = pd.read_csv(url, sep=';', index_col='data', parse_dates=['data'])

# Filtrar o período desejado
hist_ipca = hist_ipca.loc['2013-01-01':'2023-10-01']

In [8]:
hist_ipca.head()

           valor
data
2013-01-01  0,86
2013-01-02  0,60
2013-01-03  0,47
2013-01-04  0,55
2013-01-05  0,37

In [9]:
hist_ipca.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 130 entries, 2013-01-01 to 2023-01-10
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   valor   130 non-null    object
dtypes: object(1)
memory usage: 2.0+ KB

In [10]:
hist_ipca["valor"].str.replace(",", ".").astype(float)

data
2013-01-01    0.86
2013-01-02    0.60
2013-01-03    0.47
2013-01-04    0.55
2013-01-05    0.37
              ...
2023-01-06   -0.08
2023-01-07    0.12
2023-01-08    0.23
2023-01-09    0.26
2023-01-10    0.24
Name: valor, Length: 130, dtype: float64

In [11]:
hist_ipca.describe()

       valor
count    130
unique    91
top     0,25
freq       4

In [12]:
hist_ipca.to_csv("C:\\Users\\victo\\OneDrive\\Documentos\\github\\tcc-analise-setores-mercado-financeiro\\data\\hist_ipca.csv")

Obtendo histórico do IGP-M

In [13]:
# URL do arquivo CSV do IGP-M no site do Banco Central do Brasil
url = 'https://api.bcb.gov.br/dados/serie/bcdata.sgs.189/dados?formato=csv'

# Carregar o arquivo CSV no pandas
hist_igpm = pd.read_csv(url, sep=';', index_col='data', parse_dates=['data'])

# Filtrar o período desejado
hist_igpm = hist_igpm.loc['2013-01-01':'2023-10-01']

In [14]:
hist_igpm.head()

           valor
data
2013-01-01  0,34
2013-01-02  0,29
2013-01-03  0,21
2013-01-04  0,15
2013-01-05  0,00

In [15]:
hist_igpm.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 130 entries, 2013-01-01 to 2023-01-10
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   valor   130 non-null    object
dtypes: object(1)
memory usage: 2.0+ KB

In [16]:
hist_igpm["valor"].str.replace(",", ".").astype(float)

data
2013-01-01    0.34
2013-01-02    0.29
2013-01-03    0.21
2013-01-04    0.15
2013-01-05    0.00
              ...
2023-01-06   -1.93
2023-01-07   -0.72
2023-01-08   -0.14
2023-01-09    0.37
2023-01-10    0.50
Name: valor, Length: 130, dtype: float64

In [17]:
hist_igpm.describe()

       valor
count    130
unique   104
top     0,20
freq       3

In [18]:
hist_igpm.to_csv("C:\\Users\\victo\\OneDrive\\Documentos\\github\\tcc-analise-setores-mercado-financeiro\\data\\hist_igpm.csv")

Obtendo historico da taxa selic

In [19]:
# url api: https://dadosabertos.bcb.gov.br/dataset/11-taxa-de-juros---selic/resource/3d751a0d-afb2-452b-83f2-310a201f8a82

# http://api.bcb.gov.br/dados/serie/bcdata.sgs.{11}/dados?formato={csv}&dataInicial={"01/01/2013"}&dataFinal={"01/10/2023"}

# url endpoint: https://api.bcb.gov.br/dados/serie/bcdata.sgs.11/dados?formato=csv

In [20]:
# documentação biblioteca sgs

# https://wilsonfreitas.github.io/python-bcb/sgs.html

# from bcb import sgs

# import matplotlib.pyplot as plt

# import matplotlib as mpl

# mpl.style.use('bmh')

# df = sgs.get({'IPCA': 433}, start='2002-02-01')

# df.index = df.index.to_period('M')

# df.head()
# Out[7]: 
#          IPCA
# Date         
# 2002-02  0.36
# 2002-03  0.60
# 2002-04  0.80
# 2002-05  0.21
# 2002-06  0.42
# dfr = df.rolling(12)

# i12 = dfr.apply(lambda x: (1 + x/100).prod() - 1).dropna() * 100

# i12.head()
# Out[10]: 
#               IPCA
# Date              
# 2003-01  14.467041
# 2003-02  15.847124
# 2003-03  16.572608
# 2003-04  16.769209
# 2003-05  17.235307
# i12.plot(figsize=(12,6))
# Out[11]: <Axes: xlabel='Date'>

# plt.title('Fonte: https://dadosabertos.bcb.gov.br', fontsize=10)
# Out[12]: Text(0.5, 1.0, 'Fonte: https://dadosabertos.bcb.gov.br')

# plt.suptitle('IPCA acumulado 12 meses - Janela Móvel', fontsize=18)
# Out[13]: Text(0.5, 0.98, 'IPCA acumulado 12 meses - Janela Móvel')

# plt.xlabel('Data')
# Out[14]: Text(0.5, 0, 'Data')

# plt.ylabel('%')
# Out[15]: Text(0, 0.5, '%')

# plt.legend().set_visible(False)

In [11]:
import pandas as pd

# Faz a requisição HTTP para a API do Banco Central
url = 'https://api.bcb.gov.br/dados/serie/bcdata.sgs.11/dados?formato=json'
hist_selic = pd.read_json(url)
hist_selic["data"] = pd.to_datetime(hist_selic["data"], format="%d/%m/%Y")
hist_selic.set_index('data', inplace=True)
hist_selic = hist_selic.loc["2012-01-01":"2023-10-01"]
hist_selic["ano_mes"] = hist_selic.index.strftime('%Y-%m')
hist_selic.drop_duplicates()
# hist_selic_agrupado = hist_selic.groupby(hist_selic.index.month)
# hist_selic_agrupado = hist_selic_agrupado["valor"].mean()
#hist_selic["valor"] = hist_selic["valor"].rolling(12).apply(lambda x: (1 + x/100).prod() - 1).dropna() * 100
display(hist_selic["ano_mes"])
# hist_selic.tail(20)

data
2012-01-02    2012-01
2012-01-03    2012-01
2012-01-04    2012-01
2012-01-05    2012-01
2012-01-06    2012-01
               ...
2023-09-25    2023-09
2023-09-26    2023-09
2023-09-27    2023-09
2023-09-28    2023-09
2023-09-29    2023-09
Name: ano_mes, Length: 2951, dtype: object

In [32]:
hist_selic.isna().sum()

valor    11
dtype: int64

In [ ]:
# display(hist_selic)

In [ ]:
! pip install sgs

In [ ]:
fromimport sgs

In [ ]:
selic = sgs.get({"selic":432}, start="2013-01-01", end="2023-10-01")

selic.tail()

# selic.head()

# selic.info()

# selic.describe()

# selic.to_csv("C:\\Users\\victo\\OneDrive\\Documentos\\github\\tcc-analise-setores-mercado-financeiro\\data\\hist_selic.csv")